.full-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.full-page-section {
  flex: 1;
  display: flex;
  justify-content: center;
  
}

.top-section {
  background-color: #deedd6;
  /* Adjust the size or add more styling as needed */
}

.bottom-section {
  background-color: #ffffff;
  /* Adjust the size or add more styling as needed */
}

.main-title {
  font-size: 41px; 
  line-height: 52px;
  font-weight: 600; 
  color: #001810; 
  margin: 0 auto; 
  width: 578px; 
  text-align: center; 
  padding: 20px 50px; 
  display: block; 
}



